body {
  min-width: $min-mobile-width;
  padding: 0;
  margin: 0;
  font-family: $main-font-family, $secondary-font-family, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: auto;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
