$main-color-light: #ffffff;
$main-color-medium: #1c1c1c;
$main-color-dark: #000000;
$accent-color: #0ad9c6;
$background-color-dark: #131314;
$background-color-light: #f6f7f9;
$border-color-light: #c9ccd4;
$mobile-menu-color: #48494d;

$main-font-family: "OpenSans";
$secondary-font-family: "Arial";

$min-mobile-width: 320px;
$max-mobile-width: 767px;
$min-tablet-width: 768px;
$max-tablet-width: 1023px;
$min-desktop-width: 1024px;
