.container {
  margin: 0 auto;

  &--about {
    max-width: 1224px;
    width: 85%;
  }

  &--bikes {
    max-width: 1210px;
    width: 84.25%;
  }

  &--video {
    max-width: 929px;
    width: 65.5%;
  }

  &--contacts {
    max-width: 957px;
    width: 66.5%;
  }
}

@media (max-width: $max-tablet-width) {
  .container {
    &--about {
      width: 80%;
    }

    &--bikes {
      width: 83.33%;
    }

    &--contacts {
      width: 91%;
    }
  }
}

@media (max-width: $max-mobile-width) {
  .container {
    &--contacts,
    &--bikes,
    &--about {
      width: 100%;
    }

    &--video {
      width: 90%;
    }
  }
}
