.main-nav ul {
  @include font-sizes(16px, 32px, 300);
  @include list-reset();
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid transparentize($main-color-light, 0.8);
}

.main-nav a {
  display: inline-block;
  padding: 21px 20px 9px 20px;
  vertical-align: middle;

  &:hover,
  &:focus {
    color: $accent-color;
    outline: none;
  }

  &:active {
    color: transparentize($accent-color, 0.5);
  }
}


@media (max-width: $max-tablet-width) {
  .main-nav ul {
    @include font-sizes(16px, 20px, 400);
    padding-top: 13px;
    border: none;
  }

  .main-nav a {
    padding: 10px 15px;
  }
}


@media (max-width: $max-mobile-width) {
  .main-nav {
    background-color: $background-color-dark;
  }

  .main-nav ul {
    flex-direction: column;
  }

  .main-nav a {
    width: 100%;
    padding: 10px 15px;
    border-top: 1px solid $border-color-light;
  }
}
