.mobile-menu {
  position: absolute;
  width: 320px;
  height: auto;
  right: 0;
  background-color: $main-color-light;
  box-shadow: 0 1px 1px 1px $border-color-light;
  z-index: 1;

  ul {
    @include font-sizes(20px, 28px, 400);
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: 100px 0 0 0;
  }

  a {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    padding: 17px 27px 17px 16px;
    align-items: center;
    color: $mobile-menu-color;
    background-color: $background-color-light;

    &::after {
      @include sizes(9px, 9px);
      content: "";
      border-bottom: 2px solid transparentize($arrow-color, 0.5);
      border-right: 2px solid transparentize($arrow-color, 0.5);
      transform: rotate(-45deg);
    }

    &:hover::after,
    &:focus::after {
      border-color: $accent-color;
    }
  }
}


@media (max-width: $max-mobile-width) {
  .mobile-menu {
    height: 100vh;
    width: 100vw;
    box-shadow: none;
  }

  .mobile-menu ul {
    padding-top: 70px;
  }

  .mobile-menu a {
    border: none;
  }
}
