.page-header {
  display: grid;
  grid-template-columns: auto minmax(400px, 30.5%) 30.5% auto;
  grid-template-rows: min-content min-content auto;
  width: 100%;
  min-height: 825px;
  padding-bottom: 15%;
  color: $main-color-light;
  background: $background-color-dark url("../img/main_bg_desktop_1x.jpg") center center no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main_bg_desktop_2x.jpg");
  }
}

.page-header__nav {
  @include font-sizes(16px, 32px, 300);
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  margin-bottom: 29%;
}

.page-header__logo {
  grid-column: 2 / 3;
}

.page-header__promo {
  grid-column: 2 / 3;
  max-width: 380px;
}

.page-header__promo h1 {
  @include font-sizes(46px, 64px, 700);
  margin-top: 22px;
  margin-bottom: 25px;
}

.page-header__promo p {
  @include font-sizes(20px, 32px, 300);
}

.page-header__form {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  max-width: 327px;
  margin-left: auto;
}


@media (max-width: $max-tablet-width) {
  .page-header {
    background: none;
    display: flex;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 70px;
  }

  .page-header__logo {
    display: flex;
    height: 50px;
    z-index: 1;
  }

  .page-header__logo a {
    margin: auto auto 0 21px;
  }

  .page-header__logo button {
    @include sizes(50px, 50px);
    display: flex;
    border: none;
    background-color: $accent-color;

    &:hover,
    &:focus {
      background-color: lighten(invert($accent-color, 10%), 30%);
      outline: none;
    }

    &:active {
      background-color: transparentize($accent-color, 0.5);
    }
  }

  .page-header__logo svg {
    margin: auto;
  }

  .page-header__nav {
    display: none;
  }

  .page-header__promo {
    max-width: 100%;
    margin-top: -50px;
    padding: 110px 19.5% 59px 19.5%;
    text-align: center;
    background: $background-color-dark url("../img/main_bg_tablet_1x.jpg") no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main_bg_tablet_2x.jpg");
    }
  }

  .page-header__promo h1 {
    font-size: 30px;
    line-height: 42px;
  }

  .page-header__promo p {
    font-size: 18px;
  }

  .page-header__form {
    width: 321px;
    margin: 0 auto;
  }
}


@media (max-width: $max-mobile-width) {
  .page-header__promo {
    background-image: url("../img/main_bg_mobile_1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main_bg_mobile_2x.jpg");
    }
  }

  .page-header__form {
    width: 90%;
  }
}
